.login {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__form {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    margin-top: 7px;
}

.login__form__p {
    margin: 7px 0;
}

.login__form__button {
    margin-top: 20px;
}

.login__form__button i {
    margin-right: 4px;
}

.login__form__button-google {
    margin-top: 10px;
}

.login__form__button-google .button {
    background: rgb(223, 75, 70);
}

.login__form__input {
    padding: 7px;
    outline: none;
    border-radius: 10px;
}

.login__p-entrar {
    margin-bottom: 7px;
}