.home {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    gap: 7px;
}

.content {
    align-self: center;
    padding: 30px;
}