.exercises__list, .exercises__list td, .exercises__list th {
    padding: 5px;
    border: 1px solid rgb(102, 102, 102);
    border-collapse: collapse;
}

.exercises__list {
    border-radius: 10px;
    color: black;
}

.exercises__list tr:nth-child(even) {
    background-color: rgb(243, 243, 243);
}

.exercises__list tr:nth-child(odd) {
    background-color: rgb(223, 223, 223);
}

.exercises__list th {
    background-color: rgb(37, 141, 211);
    color: white;
}
