.navbar {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: rgb(56, 56, 56);
    min-height: 80px;
    max-height: 120px;
    align-items: center;
    justify-content: space-evenly;
}